<div class="jumbotron">
  <div class="container grid" >
    
    <div class="card mb-4 shadow-sm" *ngFor="let actor of this.listaPeliculas">
          <p class="text-center" >{{actor.nombre}} - {{actor.apellido}} </p>
          <img class="img-fluid" [src]="actor.foto">
          <div class="col-md-14 text-center">
            <button type="button" class="btn btn-light" (click)="EnviarPeliculaDetalle(actor)">Detalle</button>
            <button type="button" class="btn btn-light" (click)="EnviarPeliculaModificar(actor)">Modificar</button>
            <button type="button" class="btn btn-light" (click)="EnviarPeliculaEliminar(actor)">Eliminar</button>
          </div>
                
    </div>

  </div>
</div>




<!--<table class="table">
        <thead>
          <tr>
            <th>FECHA</th >
            <th>NOMBRE</th>
            <th>TIPO</th>
            <th>PUBLICO</th>
            <th>FOTO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pelicula of this.listaPeliculas">
            <td>{{pelicula.fecha}} </td>
            <td>{{pelicula.nombre}}</td>
            <td>{{pelicula.tipo}}</td>
            <td>{{pelicula.cantPublico}}</td>
            <td> <img class="foto" [src]="pelicula.foto">
              <div class="col-md-12 text-center">
                <button type="button" class="btn btn-light">Detalle</button>
                <button type="button" class="btn btn-light">Modificar</button>
                <button type="button" class="btn btn-light">Eliminar</button>
            </div>
            </td>
          </tr>
        </tbody>
      </table>-->