<div class="container">
  <div class="row " *ngIf="peliculaEliminar">
    <h2>ELIMINAR</h2>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">ID</span>
      </div>
      <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
        [(ngModel)]="peliculaEliminar.id" disabled>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">NOMBRE</span>
      </div>
      <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
        [(ngModel)]="peliculaEliminar.nombre" disabled>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">APELLIDO</span>
      </div>
      <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
        [(ngModel)]="peliculaEliminar.apellido" disabled>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">FECHA</span>
      </div>
      <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
        [(ngModel)]="peliculaEliminar.fecha" disabled>

    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">SEXO</span>
      </div>
      <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
        [(ngModel)]="peliculaEliminar.sexo" disabled>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">REGION</span>
      </div>
      <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
        [(ngModel)]="peliculaEliminar.nacionalidad" disabled>
    </div>

    <button class="btn btn-secondary" (click)="eliminar()">ELIMINAR</button>



  </div>