<app-cabecera></app-cabecera>

<div class="container">
    <div class="row">
        <div class="col-md-8">

            <div *ngIf="error" class="error">
                <span> {{error}}</span>
              </div>
              <div *ngIf="mensaje" class="mensaje">
                <span> {{mensaje}}</span>
              </div>

            <h1>ALTA PELICULAS</h1>
         
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">NOMBRE</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                        [(ngModel)]="nuevaPelicula.nombre" >
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">FECHA</span>
                    </div>
                    <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                        [(ngModel)]="fechaAux">

                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">TIPO</span>
                    </div>
                    <select id="miselect" class="form-control" (change)="cambio($event)">
                        <option disabled selected hidden>Seleccione un usuario </option>
                        <option [value]="item" *ngFor="let item of tipos">{{item}}</option>

                    </select>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">PUBLICO</span>
                    </div>
                    <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                        [(ngModel)]="nuevaPelicula.cantidadPublico">
                </div>
                <div class="input-group mb-3" *ngIf="nuevoPais">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">NACIONALIDAD</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                        [(ngModel)]="nuevoPais.name"  disabled>
                </div>
        
   
                <button class="btn btn-secondary" type="submit" (click)="Cargar()">CARGAR</button>

                <div class="col-xs-6">
                    <app-tabla-actor [listadoActores]="listadoActores"  [activoBoton]="false"  (emitActorDetalle)='actorEventDetalle($event)' ></app-tabla-actor>
                </div>

                <div class="col-mb-4">
                    <app-tabla-paises [listadoPaises]="listaPaises" (emitPais)='PaisEvent($event)' ></app-tabla-paises>
                </div>
        
        </div>
    </div>
</div>