
<div class="table-wrapper-scroll-y my-custom-scrollbar">
 
  <table class="table table-bordered table-striped mb-0">
              <thead>
                <tr>
                  <th>FECHA</th >
                  <th>NOMBRE</th>
                  <th>APELLIDO</th>
                  <th>SEXO</th>
                  <th>FOTO</th>
                  <th>AÑADIR</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let actor of this.listadoActores">
                  <td >{{actor.fecha}}</td>
                  <td>{{actor.nombre}}</td>
                  <td>{{actor.apellido}}</td>
                  <td>{{actor.sexo}}</td>
                  <td> <img class="img-fluid" [src]="actor.foto"></td>
                  <td [hidden]="activoBoton">  <button class="btn btn-secondary" (click)="EnviarActor(actor)" >Añadir</button>  </td>
                </tr>
              </tbody>

          </table>
        </div>



