<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>

  <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="appNavigation"
    aria-expanded="!isCollapsed" aria-label="Toggle navigation" (click)="toggleMenu('búsqueda')">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="appNavigation">
    <div class="navbar-nav mr-auto">
      <a (click)="toggleMenu('búsqueda')" class="nav-item nav-link" routerLink="" routerLinkActive="active">Busqueda</a>
     <!-- <a (click)="toggleMenu('peliculas/listado')" class="nav-item nav-link" routerLink="" routerLinkActive="active">Pelicula Listado</a>-->
      <a (click)="toggleMenu('actor/alta')" class="nav-item nav-link" routerLink="" routerLinkActive="active">Actor Alta</a>
      <a (click)="toggleMenu('peliculas/alta')" class="nav-item nav-link" routerLink="" routerLinkActive="active">Pelicula Alta</a>
      <a (click)="toggleMenu('actor/actorpelicula')" class="nav-item nav-link" routerLink="" routerLinkActive="active">Actor Pelicula</a>
  
    </div>
  </div>
</nav>